:host {
    display: block;
    position: relative;
    width: 100%;
    height: 6px;
    overflow: hidden;
    background-color: #dcdcdc;
}

.progress-bar-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.progress-bar-container.indefinite {
    will-change: transform;
    animation: indefinite-progress-bar 1700ms ease infinite;
}

.progress-bar-indicator {
    height: 100%;
    background-color: #224050;
}

.progress-bar-container.indefinite .progress-bar-indicator {
    width: 25%;
}

@keyframes indefinite-progress-bar {
    from { transform: translateX(-25%); }
    to { transform: translateX(100%); }
}