:root {
    --second-color: #ffff8c;
    --main-background: #fff;
    --contrast-color: #000;
    --accent-color: #52a1ce;
    --accent-contrast-color: #fff;
    --scroll-background: #cecece;
    --scroll-color: #3a88b3;
    --items-header-background: #f3f3f3;
    --items-header-color: #656565;
    --border-color: #e4e4e4;
    --code-example-background: #f9f9f9;
    --menu-item-background-hover: #f5f5f5;
    --menu-item-color: #000;
    --text-highlight: #3f6479;
}

*, 
*:before, 
*:after {
    box-sizing: border-box;
}

body {
    background: var(--main-background);
    color: var(--contrast-color);
    overflow-x: hidden;
    margin: 0;
}

pre,
nav,
main {
    &::-webkit-scrollbar {
        height: 6px;
        width: 6px;
    }
    
    &::-webkit-scrollbar-track {
        background-color: var(--scroll-background);
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--scroll-color);
    }
}